/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway',sans-serif;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway',sans-serif;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

body {
  box-sizing: border-box;
  color: #373B47;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: white;
  z-index: 1000;
}

.bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

nav {
  position: absolute;
  left: 12%;
  top:50%;
  transform: translateY(-50%);
 }

.bar nav a {
  margin: 0 15px;
  font-weight: bold;
}

img[alt="logo"] {
  float: right;
  position: absolute;
  width: 75px;
  right: 7%;
  top:50%;
  transform: translateY(-50%);
  z-index: -1;
}

section{
  margin: 0;
  padding: 0;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}

#bg-home{
  background-image:url(../assets/images/bg-home.jpg);/*Colocamos de fondo a la imagen*/
  background-repeat: no-repeat;/*Evitamos que se repita la imagen*/
  background-size: 100%;
  color:#fff;
  height:100%;
  position: relative;
  text-align: center;
  top:82px;
  width:100%;
 }


#bg-home>h2{
  font-weight: bold;
  margin: 0px;
  position: relative;
  padding: 100px 0px 40px 0px; /*Colocamos valores para el relleno  en orden horario*/

}

#bg-home>h1{
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  position: relative;

}

#bg-home>p{
  font-size: 15px;
  margin: 0px;
  padding: 10px;
  position: relative;/*Colocamos el mismo valor para el relleno en todos los sentidos*/

}

#bg-home>button{
  background-color: #2ecc71;
  border: 0px;
  color: #fff;
  font-weight: 600;
  margin: 70px 0px 110px 0px; /*Colocamos valores para el margen  en orden horario*/
  padding: 15px;
}

button a {
  color: white;
}

button a:hover {
 color: white;
}

#text-services{
  background-color:#f17c72;
  background-size: 100%;
  color: #fff;
  height:100%;
  margin: 0px;
  position: relative;
  text-align: center;
  padding: 0px;
  width:100%;
}

#text-services>h2{
  font-size:30px;
  font-weight: bold;
  margin: 0px;
  position: relative;
  padding: 85px 0px 0px 0px;
}

#text-services>h4{
  font-weight: bold;
  margin: 0px;
  padding: 40px 0px 0px 0px;/
  position: relative;

}

#container-services{
  font-weight: bold;
  padding: 100px 150px 75px 150px;/
}

.services{

  display: inline-block;
  margin: 0px;
  padding: 0px;
  position: relative;
  width:33%;

}

.services>img{
  margin:20px;
  max-width: 60%;

}

.services>h5,.services>h6{
  margin: 0px;
  padding: 0px;

}

#work{
  background-color:#fff;
  background-size: 100%;
  color: #000;
  height:100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  text-align: center;
  top:60px;
  width:100%;
}

#work>img{
  width: 70%;
}

footer{
  background-color:#373B47;
  color:#fff;
  font-weight: bold;
  margin: 0px;
  padding: 10px;
  position: relative;
  text-align:center;
  top:100px;
}
